{% extends 'group_layout.html' %}

{% load i18n %}
{% load thumbnail %}
{% load image_tags %}


{% block title %}| {% trans 'Crear previa' %}{% endblock %}

    {% block group_right_container %}
    <div id="contenido-crear-hangout" class="panel-derecho crear-previa">
        <div>
            <h1>{% trans 'Crear Previa' %}</h1>
        </div>
        <form method="post" enctype="multipart/form-data" class="form-grupo">
            {% csrf_token %}

            <div class="form_field cambiar-foto">
                <a id="cambiar_foto" href="#" class="boton1">elige una foto de perfil</a>
                <input id="id_image" name="image" type="file" style="display:none">
            </div>

            <div class="form_field">
                <label
                        {% if form.name.errors %} class="form-error" {% endif %}
                        for="id_name">{% trans 'Nombre' %}
                </label><br>
                {{ form.name }}
            </div>

            <div class="form_field">
                <label for="id_address">{% trans 'Dirección' %}</label><br>
                {{ form.address }}
            </div>

            <div class="form_field">
                <label
                        {% if form.datetime.errors %} class="form-error" {% endif %}
                        for="id_datetime">{% trans 'Fecha y Hora' %}
                </label><br>
                {{ form.datetime }}
            </div>

            <div class="form_field">
                <label for="id_description">{% trans 'Descripción' %}</label><br>
                <textarea cols="16" id="id_description" name="description" rows="5"></textarea>
            </div>

            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
                <p class="form-error">revise los campos y vuelva a intentarlo</p>
            {% endif %}
            <input class="boton2 boton-crear" type='submit' value="+ crear">
        </form>
    </div>
{% endblock %}


{% block group_actions %}
{% endblock %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#cambiar_foto').click(function(event) {
                event.preventDefault();
                $('#id_image').click();
            })
        });
    </script>
{% endblock %}