{% extends 'hangout/hangout_layout.html' %}

{% load i18n %}
{% load image_tags %}
{% load thumbnail %}

{% block hangout_tabs %}
    <div class="solapas">
        <a href="{% url 'hangout' hangout.pk %}"><div class="solapa muro"><img src="{{ STATIC_URL }}img/muro.png" /></div></a>
        <a href="{% url 'hangout_invites' hangout.pk %}"><div class="solapa amigos"><img src="{{ STATIC_URL }}img/grupos.png" /></div></a>
        <a href="#"><div class="solapa config activo"><img src="{{ STATIC_URL }}img/config.png" /></div></a>
    </div>
{% endblock %}

{% block hangout_right_container %}
    <div class="previa-config panel-derecho">
        <div>
            <h1>{% trans 'configuración del perfil de previa' %}</h1>
        </div>

        <form id="form-imagen" class="form-grupo" method="post" enctype="multipart/form-data">
            <div id="contenedor-cambiar-foto" class="form_field cambiar-foto">
                <a id="cambiar_foto" href="#" class="boton1">cambiar foto de perfil</a>

                {% thumbnail hangout.image '60x60' crop='center' as hangout_image %}
                    <img class="vista-foto-previa" src="{{ hangout_image.url }}" width="{{ hangout_image.width }}" height="{{ hangout_image.height }}">
                {% empty %}
                    <img class="vista-foto-previa" src="{% default_hangout_picture %}" width="60" height="60">
                {% endthumbnail %}
                <input id="id_image" name="image" type="file" class="boton3" style="display: none;">
                <div class="ajustar"></div>
            </div>
        </form>

        <form id="form-previa" class="form-grupo" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form_field">
                <label
                        {% if form.name.errors %} class="form-error" {% endif %}
                        for="id_name">{% trans 'Nombre' %}
                </label>
                {{ form.name }}

            </div>

            <div class="form_field">
                <label for="id_address">{% trans 'Dirección' %}</label>
                {{ form.address }}
            </div>

            <div class="form_field">
                    <label
                            {% if form.datetime.errors %} class="form-error" {% endif %}
                            for="id_datetime">{% trans 'Fecha y Hora' %}
                    </label><br>
                    {{ form.datetime }}
                </div>

            <div class="form_field">
                <label for="id_description">{% trans 'Descripción' %}</label><br>
                <textarea id="id_description" name="description" rows="5">{{ hangout.description }}</textarea>
            </div>

            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
                <p class="form-error">revise los campos y vuelva a intentarlo</p>
            {% endif %}
            <input class="boton3" type="submit" value="guardar">
        </form>
    </div>
{% endblock %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            var spinner = new Spinner({
                top: 13,
                left: 13,
                color: '#fff',
                radius: 8,
                width: 2 });

            $('#cambiar_foto').click(function(event) {
                event.preventDefault();
                $('#id_image').click();
            });

            $('#form-imagen').fileupload({
                url: "{% url 'change_hangout_image' hangout.pk %}",
                dataType: 'json',
                start: function() {
                    var profileImageContainer = document.getElementById('contenedor-cambiar-foto');
                    spinner.spin(profileImageContainer);
                },
                done: function(e, data) {
                    spinner.stop();

                    var newImage = data.result.files[0];
                    $('.vista-foto-previa').attr('src', newImage.thumbnail_url);
                }
            });
        });
    </script>
{% endblock %}
