{% extends 'hangout/hangout_layout.html' %}

{% load i18n %}
{% load image_tags %}
{% load wall_tags %}

{% block title %}| {{ hangout.name }}{% endblock %}

{% block hangout_tabs %}
    <div class="solapas">
        <a href="#"><div class="solapa muro activo"><img src="{{ STATIC_URL }}img/muro.png" /></div></a>
        {%  if creator_group_has_current_user %}
            <a href="{% url 'hangout_invites' hangout.pk %}"><div class="solapa amigos"><img src="{{ STATIC_URL }}img/grupos.png" /></div></a>
            <a href="{% url 'edit_hangout' hangout.pk %}"><div class="solapa config"><img src="{{ STATIC_URL }}img/config.png" /></div></a>
        {% endif %}
    </div>
{% endblock %}

{% block hangout_right_container %}
    <div class="previa-muro">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form_field">
                <textarea id="id_message" name="message" placeholder="{% trans 'Escribí tu mensaje aquí...' %}"></textarea>
                <input class="publicar boton1" type="submit" value="{% trans 'publicar' %} >"/>
            </div>



            {% if wall_messages|length > 0 %}
                <div class="ajustar post"></div>
            {% endif %}

            <div class="endless_page_template">
                {% include hangout_wall_messages_page %}
            </div>
            {% block js %}
                {{ block.super }}
                <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
                <script>
                    $.endlessPaginate({
                        paginateOnScroll: true,
                        paginateOnScrollMargin: 20,
                        paginateOnScrollChunkSize: 5
                    });
                </script>
            {% endblock %}

        </form>
    </div>
{% endblock %}

