{% extends 'hangout/hangout_layout.html' %}

{% load i18n %}
{% load image_tags %}

{% block hangout_tabs %}
    <div class="solapas">
        <a href="{% url 'hangout' hangout.pk %}"><div class="solapa muro"><img src="{{ STATIC_URL }}img/muro.png" /></div></a>
        <a href="{% url 'hangout_invites' hangout.pk %}"><div class="solapa amigos"><img src="{{ STATIC_URL }}img/grupos.png" /></div></a>
        <a href="{% url 'edit_hangout' hangout.pk %}"><div class="solapa config"><img src="{{ STATIC_URL }}img/config.png" /></div></a>
    </div>
{% endblock %}

{% block hangout_right_container %}
    <div id="previa-fotos" class="previa-fotos">
        {% for image in hangout.images %}
            <div class="crop">
                <a href="{{ image.url }}"><img src="{{ image.url }}"></a>
            </div>
        {% endfor %}
        <div class="ajustar"></div>
    </div>
    <form id="fileupload" action="{% url 'upload_hangout_photo' hangout.pk %}" method="POST" enctype="multipart/form-data">
        <input id="subir-fotos-input" type="file" name="files[]" multiple style="display: none;">
    </form>
    <a href="#" id="subir-fotos" class="editar-fotos boton2">+ subir fotos</a>
    <a href="#" class="editar-fotos boton2">mover fotos</a>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {
            function createPhotoContainer(photoUrl) {
                var container = $('<div></div>');
                var imageTag = $('<img>');
                var anchor = $('<a></a>');

                container.addClass('crop');

                imageTag.attr('src', photoUrl);
                anchor.attr('href', photoUrl);

                anchor.append(imageTag);
                container.append(anchor);

                anchor.colorbox();

                return container
            }

            function appendToHangoutPhotos(photo) {
                $('#previa-fotos .crop:last').after(photo);
            }

            $('#fileupload').fileupload({
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        var photo = createPhotoContainer(file.url);
                        appendToHangoutPhotos(photo);
                    });
                }
            });

            $('#subir-fotos').click(function(event) {
                event.preventDefault();
                $('#subir-fotos-input').click();
            });

            $('.previa-fotos a').colorbox();
        });
    </script>
{% endblock %}