<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sale Previa</title>
<link href="{{ STATIC_URL }}css/normalize.css" type="text/css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/previa.css" type="text/css" rel="stylesheet">
<link href="{{ STATIC_URL }}bebas-neue-fontfacekit/stylesheet.css" type="text/css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
</head>

<body class="grey">
    
    
    <div class="error">
        <img src="{{ STATIC_URL }}img/error2.png" />
    </div>


</body>
</html>
