{% extends 'profile_layout.html' %}

{% load i18n %}
{% load image_tags %}
{% load thumbnail %}

{% block title %}| {{ profile_user.get_full_name }}{% endblock %}

{% block profile_left_container %}
    <a class="boton-perfil" href="{% url 'profile' %}">notificaciones</a>
    <a class="boton-perfil" href="{% url 'profile_groups' %}">grupos</a>
    <a class="boton-perfil" href="{% url 'profile_hangouts' %}">previas</a>
    <a class="boton-perfil activo" href="#">configuración</a>
    <a class="boton-perfil" href="{% url 'profile_friends_groups' %}">ver grupos</a>
    <a class="boton-perfil recomendar" href="{% url 'profile_site_invitations' %}">recomendá sale previa</a>
    <a class="boton2 boton-crear" href="{% url 'create_group' %}">+ crear grupo</a>
{% endblock %}

{% block profile_right_container %}
    <div class="panel-derecho grupo-muro">
        <div class="grupo-config">
            <div>
                <h1>{% trans 'configuración de perfil' %}</h1>
            </div>

            <form id="form-imagen" class="form-grupo" method="post" enctype="multipart/form-data">
                <div id="contenedor-cambiar-foto" class="form_field cambiar-foto">
                    <a id="cambiar_foto" href="#" class="boton3">cambiar foto de perfil</a>
                    {% thumbnail user.profile_image '60x60' crop='center' as member_image %}
                        <img class="foto-miembro" src="{{ member_image.url }}" width="{{ member_image.width }}" height="{{ member_image.height }}" />
                    {% empty %}
                        <img class="foto-miembro" src="{% default_profile_picture %}" width="60" height="60" />
                    {% endthumbnail %}
                    <input id="id_profile_image" name="profile_image" type="file" class="boton3" style="display: none;">
                    <div class="ajustar"></div>
                </div>
            </form>

            <form id="form-grupo" class="form-grupo" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form_field">
                    <label
                            {% if form.first_name.errors %} class="form-error" {% endif %}
                            for="id_first_name">{% trans 'Nombre' %}:
                    </label>
                    {{ form.first_name }}
                </div>

                <div class="form_field">
                    <label
                            {% if form.last_name.errors %} class="form-error" {% endif %}
                            for="id_last_name">{% trans 'Apellido' %}:
                    </label>
                    {{ form.last_name }}
                </div>

                <div class="form_field">
                    <label for="id_gender">{% trans 'Sexo' %}:</label>
                    {{ form.gender }}
                </div>

                <div class="form_field">
                    <label for="id_neighbourhood">{% trans 'Localidad' %}:</label>
                    {{ form.neighbourhood }}
                </div>

                <div class="form_field">
                    <label for="id_city">{% trans 'Ciudad' %}:</label>
                    {{ form.city }}
                </div>

                <div class="form_field">
                    <label for="id_province">{% trans 'Provincia' %}:</label>
                    {{ form.province }}
                </div>

                <div id="dp3" class="form_field input-append date" data-date="12-02-2012" data-date-format="dd/mm/yyyy">
                    <label for="id_birth_date">{% trans 'Fecha de nacimiento' %}:</label>
                    <input id="id_birth_date" name="birth_date" type="text" value=" {{ form.birth_date.value|date:"d/m/Y" }}" readonly>
                    <span class="add-on">
                        <i class="icon-th"></i>
                    </span>
                </div>

                <div class="form_field">
                    <label for="id_description">{% trans 'Descripción' %}:</label>
                    {{ form.description }}
                </div>

                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                    <p class="form-error">revise los campos y vuelva a intentarlo</p>
                {% endif %}
                <input class="boton1" type="submit" value="guardar">
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

    <script type="text/javascript">
        $(document).ready(function() {
            var spinner = new Spinner({
                    top: 13,
                    left: 13,
                    color: '#fff',
                    radius: 8,
                    width: 2 });

            $('#cambiar_foto').click(function(event) {
                event.preventDefault();
                $('#id_profile_image').click();
            });
            $('#dp3').datepicker();

            $('#form-imagen').fileupload({
                url: "{% url 'change_profile_image' %}",
                dataType: 'json',
                start: function() {
                    var profileImageContainer = document.getElementById('contenedor-cambiar-foto');
                    spinner.spin(profileImageContainer);
                },
                done: function(e, data) {
                    spinner.stop();

                    var newImage = data.result.files[0];
                    $('.foto-miembro').attr('src', newImage.thumbnail_url);
                }
            });
        });
    </script>
{% endblock %}