{% extends 'group_layout.html' %}

{% load i18n %}
{% load image_tags %}
{% load thumbnail %}

{% block group_tabs %}
    <div class="solapas">
        <a href="{% url 'group' group.pk %}"><div class="solapa muro"><img src="{{ STATIC_URL }}img/muro.png" /></div></a>
        <a href="{% url 'group_photos' group.pk %}"><div class="solapa fotos"><img src="{{ STATIC_URL }}img/fotos.png" /></div></a>
        <a href="{% url 'group_invites' group.pk %}"><div class="solapa amigos"><img src="{{ STATIC_URL }}img/invitar-usuario.png" /></div></a>
        <a href="#"><div class="solapa config activo"><img src="{{ STATIC_URL }}img/config.png" /></div></a>
    </div>
{% endblock %}

{% block group_right_container %}
    <div class="grupo-config">
        <div>
            <h1>{% trans 'configuración del perfil de grupo' %}</h1>
            <a class="abandonar-grupo" href="{% url "leave_group" group.pk %}">abandonar grupo</a>
        </div>

        <form id="form-imagen" class="form-grupo" method="post" enctype="multipart/form-data">
            <div id='contenedor-cambiar-foto' class="form_field cambiar-foto">
                <a id="cambiar_foto" href="#" class="boton1">cambiar foto de perfil</a>
                {% thumbnail group.image '60x60' crop='center' as group_image %}
                    <img class="foto-grupo" src="{{ group_image.url }}" width="{{ group_image.width }}" height="{{ group_image.height }}">
                {% empty %}
                    <img class="foto-grupo" src="{% default_group_picture %}" width="60" height="60">
                {% endthumbnail %}
                <input id="id_image" name="image" type="file" class="boton3" style="display: none;">
                <div class="ajustar"></div>
            </div>
        </form>

        <form id="form-imagen" class="form-grupo" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form_field">
                <label
                        {% if form.name.errors %} class="form-error" {% endif %}
                        for="id_name">{% trans 'Nombre' %}
                </label>
                {{ form.name }}
            </div>

            <div class="form_field">
                <label for="id_area">{% trans 'Zona' %}</label>
                {{ form.area }}
            </div>

            <div class="form_field">
                <label for="id_description">{% trans 'Descripción' %}</label><br>
                <textarea id="id_description" name="description" rows="5">{{ group.description }}</textarea>
            </div>

            {% if form.errors %}
                <p class="form-error">revise los campos y vuelva a intentarlo</p>
            {% endif %}
            <input class="boton2" type="submit" value="guardar">
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            var spinner = new Spinner({
                top: 13,
                left: 13,
                color: '#fff',
                radius: 8,
                width: 2 });

            $('#cambiar_foto').click(function(event) {
                event.preventDefault();
                $('#id_image').click();
            });

            $('#form-imagen').fileupload({
                url: "{% url 'change_group_image' group.pk %}",
                dataType: 'json',
                start: function() {
                    var profileImageContainer = document.getElementById('contenedor-cambiar-foto');
                    spinner.spin(profileImageContainer);
                },
                done: function(e, data) {
                    spinner.stop();

                    var newImage = data.result.files[0];
                    $('.foto-grupo').attr('src', newImage.thumbnail_url);
                }
            });
        });
    </script>
{% endblock %}
