{% extends 'group_layout.html' %}

{% load i18n %}
{% load image_tags %}
{% load wall_tags %}

{% block title %}| {{ group.name }}{% endblock %}

{% block group_tabs %}
    <div class="solapas">
        <a href="#"><div class="solapa muro activo"><img src="{{ STATIC_URL }}img/muro.png" /></div></a>
        <a href="{% url 'group_photos' group.pk %}"><div class="solapa fotos"><img src="{{ STATIC_URL }}img/fotos.png" /></div></a>
        <a href="{% url 'group_invites' group.pk %}"><div class="solapa amigos"><img src="{{ STATIC_URL }}img/invitar-usuario.png" /></div></a>
        <a href="{% url 'edit_group' group.pk %}"><div class="solapa config"><img src="{{ STATIC_URL }}img/config.png" /></div></a>
    </div>
{% endblock %}

{% block group_right_container %}
    <div class="grupo-muro">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form_field">
                <textarea id="id_message" name="message" placeholder="{% trans 'Escribí tu mensaje aquí...' %}"></textarea>
                <input class="publicar boton1" type="submit" value="{% trans 'publicar' %} >"/>
            </div>


            {% if wall_messages|length > 0 %}
                <div class="ajustar post"></div>
            {% endif %}


        <div class="endless_page_template">
            {% include group_wall_messages_page %}
        </div>
        {% block js %}
            {{ block.super }}
            <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
            <script>
                $.endlessPaginate({
                    paginateOnScroll: true,
                    paginateOnScrollMargin: 20,
                    paginateOnScrollChunkSize: 5
                });
            </script>
        {% endblock %}


        </form>
    </div>
{% endblock %}
