{% extends 'messages/notification.html' %}

{% block message_content %}
    <p><img src="{{ STATIC_URL }}img/dialogo.png"><span>{{ message.generated_by.get_full_name }}</span> comentó en la
        previa <a href="{% url 'hangout' message.hangout.pk %}"><span>{{ message.hangout }}</span></a>
    </p>
{% endblock %}