{% extends 'messages/comment.html' %}

{% block message_content %}
    <p class="usuario"><img
            src="{{ message.sender.profile_image.url }}"/><span>{{ message.sender.get_full_name }}</span> dice:</p>
    <p>{{ message.message }}</p>
{% endblock %}